
style.css
.bgc{
    background-color: #0b8595;
  
}
body 
{
    background-color: grey;
}
.sidebar{

}
.mc{
    color: red;
  background-color: green;
  text-align: center;
  margin-top: -1px;
  padding: 8px;
  font-weight: 700;
  transition-property: background-color,color;
  transition-duration: 2s;
  transition-timing-function: linear;
  cursor: pointer;
}
.mc:hover{
     background-color: blue;
    color: white;
}
.photo_gallary{
}
 .photo_gallary img{
    transition: 1s linear;

 }
 .photo_gallary img:hover{
    transform: scale(1.5);
 }
